#block-views-block-viaje-a-medida-block-1 {
  background-color: $conil-color-gray;

  .view-viaje-a-medida {
    max-width: 1200px;
    min-height: 100px;
    margin: auto;

    .view-header {
      max-width: 1200px;
      margin: auto auto auto 1rem;

      @include xl{
        margin-left: auto;
      }

      @include xl {
        padding-left: 0rem;
      }

      .header {
        margin-bottom: 2rem;
        font-size: 18px;
        @include sm{
          font-size: 26px;
        }
        color: #01587D;
        div,
        p {
          display: inline;
          margin-right: 0.4%;
        }

        p.counter {
          font-size: 16pt;
        }

        h3.subcategory {
          font-weight: bold;
          text-transform: uppercase;
          margin-bottom: 0;
        }

      }
    }
  }

  .ajax-progress-throbber {
    display: none
  }

  .views-throbbing {
    display: none
  }

  .view-content {
    max-width: 1200px;
    margin: auto;
    display: grid;
    row-gap: 2rem;
    column-gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
    padding: 0 1rem;

    @include sm{
      grid-template-columns: repeat(2, 1fr);
    }

    @include lg {
      grid-template-columns: repeat(4, 1fr);
    }

    @include xl{
      padding: 0;
    }

    .views-row {

      .field-content img {
        border-top: solid 5px $conil-color-aqua;
        margin-bottom: 15px;
        width: 100%;
        height: 100%;
      }

      .views-field-nothing {
        font-size: 16px;
        font-family: SourceSans-Bold, serif;
        font-weight: bold;
        height: 40px;
      }

      .views-field-body {
        font-size: 15px;
        overflow: hidden;
        height: 120px;
      }

      .views-field-average-stars-counter .field-content {

        .fivestar-static-form-item, .average-stars-field-counter {
          display: inline-block;
        }
      }

      .title-flag {
        display: flex;
      }

      .title {
        display: inline-block;
        text-transform: uppercase;
        min-height: 25px;
        font-size: 1rem;
        font-family: 'SourceSans-Bold';
        line-height: 1rem;
        margin-bottom: 10px;
      }

      .flag-bookmark a {
        width: 2rem;
        padding-left: .3rem;
      }
    }


  }

  .view-empty {
    background: white;
    padding: 10px;
    width: 200px;
    margin: auto;
    height: 50px;
    text-align: center;
  }

}

#views-exposed-form-viaje-a-medida-block-1::before {
  content: "";
  background: url("/themes/custom/conil_theme/imagenes/viaje-a-medida.jpg") center no-repeat;
  background-size: cover;
  position: relative;
  display: inline-block;
  width: 100vw;
  height: 500px;
  background-color: $conil-color-aqua;
  top: 0;
}

.block-views-exposed-filter-blockviaje-a-medida-block-1 {
  background-color: $conil-color-aqua;

  h2 {
    max-width: 1200px;
    margin: auto;
    position: relative;
    background-color: $conil-color-aqua;
    padding-left: 5%;
    color: $conil-color-darkgreen;
    @include xl {
      padding-left: 0;
    }
    padding-top: 2rem;
    padding-bottom: 2rem !important;
    overflow: hidden;
  }
}


#views-exposed-form-viaje-a-medida-block-1 {
  //max-width: 1200px;
  //margin: auto;

  label.form-required {
    display: none;
  }

  select {
    display: none;
  }

  .SumoSelect {
    background-color: $white;
    padding-top: 10px;
    margin-bottom: 0;
    padding-left: 1rem;

    select.SumoUnder {
      position: relative;

      p.SelectBox {
        display: none;
      }

      option {
        display: inline-block;

      }
    }

    p.SelectBox {
      display: none;
    }
  }

  .optWrapper {
    overflow: scroll;
    display: contents;
    font-family: 'SourceSans-Light';
    font-size: 1.1rem;


    ul.options {
      max-width: 1200px;
      white-space: nowrap;
      margin: auto;
      position: relative;

      &::-webkit-scrollbar {
        background-color: $conil-color-gray;
        height: 10px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 1rem;
        background: $conil-color-aqua;
      }

      scrollbar-color: $conil-color-aqua $conil-color-gray;
      scrollbar-darkshadow-color: transparent;

      //li:last-child {
      //  label{
      //    display: inline-block;
      //  }
      //
      //  &::after {
      //    content: '\e914';
      //    font-family: "Google-Icon";
      //  }
      //}

      li {
        color: $conil-color-blue;
        display: inline-block;
        margin-right: 2em;
        border-bottom: none;

        &.selected {
          font-family: 'SourceSans-Bold';
          border-bottom: solid 10px $conil-color-gray;
        }

        &:first-child {

          label{
            display: inline-block;
          }

          &::before {
            display: inline-block;
            content: '\e914';
            font-family: "Google-Icon";
            font-size: 1.5rem;
            color: #01587D;
            top: -10px;
            position: relative;
          }
        }

        &:hover {
          background-color: white;
        }
      }
    }
  }

  .form-item {
    margin-bottom: 0;
    margin-top: 0;
  }


  .form-actions {
    margin: 0;
  }

  details[open] summary span::after {
    content: '\e5cd';
  }

  details {
    background-color: $conil-color-gray;
    margin: auto auto 0;
    border: none;
    padding-bottom: 1rem;
    position: relative;

    summary {
      color: $conil-color-blue;
      max-width: 1200px;
      list-style: none;
      height: 3rem;
      text-align: right;
      line-height: 3rem;
      margin: auto;

      &:hover {
        font-weight: bold;
      }

      span {
        float: right;
        width: auto;
        height: auto;
      }

      ::after {
        margin-left: 5px;
        content: '\e429';
        font-family: "Google-Icon";
        font-size: 1.5rem;
        color: $conil-color-blue;
      }
    }

    .details-wrapper {
      max-width: 1200px;
      margin: auto;
      background-color: $white;
      padding: .5rem 1rem;
    }

    .form-checkboxes {
      color: $conil-color-blue;

      .js-form-type-checkbox {
        input {
          display: none;
        }

      }

      & > ul {
        display: block;
        width: 100%;
        list-style: none;
        padding-left: 0;
        @include sm {
          display: flex;
          padding-left: 0;
          padding-right: 1rem;
          width: auto;
        }


        & > li > .js-form-type-checkbox:first-child > label {
          text-transform: uppercase;
          font-family: 'SourceSans-Bold';
        }

        ul {
          list-style: none;
          padding-left: .3rem;
          margin-right: 1rem;
          @include md {
            margin-right: 0rem;
          }

          input {
            display: none;

            + *::before {
              content: "";
              display: inline-block;
              vertical-align: bottom;
              width: 1rem;
              height: 1rem;
              border-radius: 10%;
              border-style: solid;
              border-width: 0.1rem;
              border-color: $conil-color-aqua;
              margin-right: .5rem;
              margin-bottom: .2rem;
            }

            &:checked + *::before {
              content: "✓";
              color: white;
              background: $conil-color-blue;
              border-color: $conil-color-blue;

              line-height: .9rem;

            }
          }
        }
      }
    }
  }

}
