{#
/**
 * @file totem.html.twig
 * Default theme implementation to present Totem data.
 *
 * This template is used when viewing Totem pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_totem()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('totem') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
