@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans'), local('NotoSans-Regular'),
        url(../fonts/noto-sans/NotoSans-Regular.ttf) format('truetype');
}
