.page-node-type-general-information {

  .region-content {

    max-width: 1200px;
    width: 100%;

    #block-conil-theme-page-title{
      h1{
        margin-top: 30px;
          margin-bottom: 15px;
          color: $conil-color-blue;
          text-transform: uppercase;
      }
    }

    #block-mainpagecontent {

      .field--name-user-picture{
        display: none;
      }

      .node--type-general-information {

        color: #007cc2;
        font-family: 'SourceSans-Regular';

        h1, h2, h3, h4, h5, h6 {
          font-family: 'SourceSans-Bold';
        }

        blockquote {
          width: 100%;
          font-size: 12px;
          text-align: left;
          background-color: $conil-color-gray;
          float: left;

          p {
            padding: 2rem;
            color: $conil-color-blue;
            font-family: SourceSans-Regular;
            font-size: 1.2rem;
            &:before{
              content: '“';
              font-size: 2.5rem;
              line-height: 1rem;
              font-family: SourceSans-Bold;
              bottom: -0.8rem;
              margin-right: 5px;
              position: relative;
            }
            &:after{

              content: '”';
              font-size: 2.5rem;
              line-height: 1rem;
              font-family: SourceSans-Bold;
              bottom: -0.8rem;
              margin-left: 5px;
              position: relative;
            }
          }
        }

        strong {
          color: $conil-color-yellow;
          font-weight: 100;
        }

        li::marker {
          color: #eb6e4b;
          font-weight: bold;
        }

        ol {
          list-style: upper-alpha;
        }

        ul {
          list-style-type: square;
        }


      }


    }
  }
}
