.page-node-type-poi {
  color: $conil-color-blue;
  .region-content {
    #block-titulodelapagina {
      h1 {
        max-width: 1200px;
        margin: 2rem 0 3rem;
        color: $conil-color-blue;
        text-align: left;
        font-size: 45pt;

        span {
          position: relative;
          &::after {
            content: url("/themes/custom/totem_theme/imagenes/subline-headline.png");
            position: relative;
            display: block;
            top: -.8rem;
            @include md {
              top: 1.5rem;
              left: -12rem;
            }

          }
        }
        @include md {
          font-size: 3rem;
          span::after {
            position: absolute;
            top: 2rem;
            left: 0;
          }
        }

      }
    }


    article {
      h2 {
        &:first-child {
          display: none;
        }
      }
      .node__content {
        max-width: 1200px;
        margin: auto;
        .field--type-comment {
          .form-type-fivestar p.search {
            display: none;
          }
        }

        .field__label {
          text-transform: uppercase;
          font-size: 25pt;
        }

        .field--name-field-poi-media {
          border-top: 6px solid $conil-color-aqua;
          border-bottom: 6px solid $conil-color-lightgray;
          img {
            width: 100%;
            max-width: 100%;
            height: auto;
          }
        }

        .field--type-image,
        .leaflet-container {
          width: 100%;
          border-top: solid 6px $conil-color-aqua;
          border-bottom: 6px solid $conil-color-gray;
          margin-bottom: 2rem;

          img {
            width: 100%;
          }
        }

        .leaflet-container {
          border-bottom: solid 6px $conil-color-aqua;
        }
        .content-container {

          @include md {
            padding: 2%;
            border: solid 2px $conil-color-gray;
            display: grid;
            grid-template-columns: repeat(20, 1fr);
            grid-template-rows: repeat(1, 1fr);
            margin-bottom: 4em;
            margin-top: 2em;
          }
          h3 {
            text-transform: uppercase;
            font-size: 25pt;
            font-weight: bold;
            color: #01587D;
          }
          .le {
            @include md {
                position: relative;
                grid-column-start: 1;
                grid-column-end: 9;
                margin-right: 2%;
                grid-row-start: 1;
                margin-right: 5%;
              }
            .left {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .field--name-body {
                  margin-top: 1.5rem;

                  h2,
                  h3,
                  h4,
                  h5,
                  h6 {
                    font-size: 1.3rem;
                  }

                  p {
                    @include headline('SourceSans-Regular', 16pt);
                    text-transform: none;
                  }
                }

                .field--name-field-poi-subtitle {
                  text-transform: uppercase;
                  font-size: 25pt;
                  font-weight: bold;
                  line-height: 1.6rem;
                  margin-top: 1.5rem;
                }

                .field--name-field-poi-social-media-share {
                  .field__label {
                    text-transform: none;
                    display: inline-block;
                    font-size: 1rem;
                    margin-top: 1.5rem;
                  }

                  .field__item {
                    display: inline-block;
                  }

                  img {
                    width: 15px;
                    height: auto;
                  }

                  ul {
                    margin-left: .5rem;

                    li {
                      margin-right: 5px;
                    }
                  }

                }

                .field--name-field-poi-telephone {
                  position: relative;
                  margin-top: 1.5rem;
                  font-weight: none;
                  .field__label {
                    @include headline('SourceSans-Regular', 30pt)
                  }

                  .field__item {
                    @include headline('SourceSans-Bold', 30pt);

                    a {
                      color: $conil-color-blue;
                    }

                  }

                }
              }
          }
          .right {
            margin-top: 2rem;
            @include md {
              margin-top: 0;
              position: relative;
              grid-column-start: 9;
              grid-column-end: 21;
              grid-row-start: 1;
            }
          }
          section {
            grid-column-start: 1;
            grid-column-end: 21;
            grid-row-start: 2;
          }
        }
        .our-data {
          background-color: $conil-color-lightgray;
          font-size: .8rem;
          grid-template-columns: 1fr;
          padding: .8%;

          @include md {
            grid-template-columns: 1fr 1fr;
          }

          &>div {
            background-color: white;
            margin: 1.5%;
            padding: 2em 0 2em 6em;
            height: auto;
            a {
              color: $conil-color-pink;
            }
          }

          h3 {
            text-transform: uppercase;
            font-size: 1.6rem;
            font-weight: bold;
          }


          .field__label {
            @include headline('SourceSans-Bold', 20pt);
            display: block;
            text-transform: none;
          }

          .field__item {
            font-family: 'SourceSans-Light';
            font-size: 20pt;
            line-height: 1.8rem;
            display: block;
          }


          .field--name-field-poi-email {
            position: relative;

            &::before {
              margin: 0;
              position: absolute;
              left: .7rem;
              top: 2.4rem;
              content: '\e158';
              font-family: "Google-Icon";
              font-size: 1.5rem;
              color: $white;
              background: $conil-color-aqua;
              padding-left: .35rem;
              border-radius: 50%;
              width: 2.2rem;
              height: 2.2rem;
            }
          }

          .field--name-field-poi-telephone2 {
            position: relative;

            &::before {
              margin: 0;
              position: absolute;
              left: .7rem;
              top: 2.4rem;
              content: '\e0b0';
              font-family: "Google-Icon";
              font-size: 1.5rem;
              color: $white;
              background: $conil-color-yellow;
              padding-left: .35rem;
              border-radius: 50%;
              width: 2.2rem;
              height: 2.2rem;
            }
          }

          .field--name-field-poi-address {
            position: relative;

            &::before {
              margin: 0;
              position: absolute;
              left: .7rem;
              top: 2.4rem;
              content: '\e177';
              font-family: "Google-Icon";
              font-size: 1.5rem;
              color: $white;
              background: $conil-color-pink;
              padding-left: .35rem;
              border-radius: 50%;
              width: 2.2rem;
              height: 2.2rem;
            }
          }


          .field--name-field-poi-webpage {
            position: relative;

            &::before {
              margin: 0;
              position: absolute;
              left: .7rem;
              top: 2.4rem;
              content: '\e894';
              font-family: "Google-Icon";
              font-size: 1.5rem;
              color: $white;
              background: $conil-color-purple;
              padding-left: .35rem;
              border-radius: 50%;
              width: 2.2rem;
              height: 2.2rem;
            }
          }

          .how_to_get {
            position: relative;

            &::before {
              margin: 0;
              position: absolute;
              left: .7rem;
              top: 2.4rem;
              content: '\e55b';
              font-family: "Google-Icon";
              font-size: 1.5rem;
              color: $white;
              background: $conil-color-turquoise;
              padding-left: .35rem;
              border-radius: 50%;
              width: 2.2rem;
              height: 2.2rem;
            }
          }
        }

        section {
          h2 {
            text-transform: none;
            font-size: 1.5rem;
            margin-top: 2rem;
          }

          label {
            font-weight: bold;
          }
                    .field__label {
                      @include headline('SourceSans-Light', 2rem);
                    }

          .cke_chrome {
            border: 1px solid $conil-color-blue;

          }

          .SelectBox {
            border: 1px solid $conil-color-blue;

          }

          .filter-wrapper,
          .cke_bottom,
          .cke_top {
            border: none;
          }

          #edit-actions {
            display: flex;
            justify-content: flex-end;
          }

          #edit-submit, #edit-submit--2, .buttom-primary, #edit-preview {
            background-color: $conil-color-blue;
            color: white;
            border-radius: 20px;
            padding: 5px 15px ;
            border: none;
            margin-right: 1rem;
          }
        }


        .slick.blazy {
          margin-top: 3rem;
          .slick-track {
            margin-left: -2rem;
            .slick__slide {

              width: auto;
              height: 150px !important;

              @include md {
                width: 350px !important;
                height: 200px !important;
              }

              .media--blazy.media--ratio img.media__element {
                margin-left: 2rem;
                border-top: 6px solid $conil-color-aqua;
              }
            }
          }

          }
          .slick-arrow.slick-prev::before {
            content: '\e5e0';
            font-family: "Google-Icon";
            font-size: 2rem;
            color: white;
            text-shadow: 2px 2px 5px grey;


            @include md {
              font-size: 3rem;
            }
          }

          .slick-arrow.slick-next::before {
            content: '\e5e1';
            font-family: "Google-Icon";
            font-size: 2rem;
            color: white;
            text-shadow: 2px 2px 5px grey;

            @include md {
              font-size: 3rem;
            }
          }

        }

    }
  }
}

#block-views-block-valoracion-block-1:last-child {
  display: none;
}

.page-node-type-poi{
  .clearfix.fivestar-average-text.fivestar-average-stars.fivestar-form-item.fivestar-basic {
    display: flex;
    align-items: center;
    margin-bottom: 5em;
    .average-stars-field-counter {
      font-size: 18pt !important;
      color: #727677 !important;
      strong {
        font-weight: bold;
      }
    }
  }
}
